<mat-card class="card">
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Email"
        name="email"
        required
        formControlName="email">
      <mat-error *ngIf="false">lol nope</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
        name="position">
    </mat-form-field>
    <div class="dock" fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" type="submit">Save Post</button>
      <button mat-raised-button type="button" style="margin-left: 10px" [routerLink]="'/registration'">Sing up</button>
    </div>
  </form>
</mat-card>
