mat-card {
  margin: auto;
  max-width: 600px;
  min-width: 260px;
}
mat-form-field,
textarea {
  width: 95%;
  padding: 10px;
}

.card {
  //margin-top: 50px;
}
.dock{
  padding-top: 20px;
}
h3 {
  margin: 0px;
  cursor: pointer;
}
