<mat-card class="card">
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Email"
        name="email"
        required
        formControlName="email">
      <mat-error >Please provide a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
        required
        name="position">
      <mat-error >Please provide a valid password</mat-error>
    </mat-form-field>
    <div class="dock" fxLayout="row" fxLayoutAlign="space-between center">
      <h3 type="button" style="margin-left: 10px" [routerLink]="'/auth/registration'">Not registered? Sing up!</h3>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
  </form>
</mat-card>
