<mat-card>navbar</mat-card>
<div class="align" fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="60">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle fxFlex="100" routerLink="./live">Live</mat-button-toggle>
      <mat-button-toggle fxFlex="100" routerLink="./form">Form</mat-button-toggle>
      <mat-button-toggle fxFlex="100" routerLink="./list">List</mat-button-toggle>
    </mat-button-toggle-group>
    <router-outlet></router-outlet>
  </div>
</div>
