<mat-card class="card">
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <div class="form-content">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Name"
        name="name"
        required
        formControlName="name">
      <mat-error *ngIf="false">lol nope</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Position"
        formControlName="position"
        name="position">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Office"
        formControlName="office"
        name="office">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Salary"
        formControlName="salary"
        name="salary">
    </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <mat-action-row fxLayoutAlign="space-between center">
      <button mat-flat-button type="button" (click)="resetForm()">Reset Form</button>
      <button mat-raised-button color="accent" type="submit">Save Post</button>
    </mat-action-row>
  </form>
</mat-card>
